.p-center{
    width: 100%;
    height: 600px;
    /* margin: auto; */
}

h2{

}

/* Made modifications here */

.mainBanner{
    position: relative;
    z-index: 999;
    margin-left: 35%;
    top: -322px;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    /* margin-bottom: 150px; */
}



.form-control-lg {

    width: 354px;
}

.card-deck .card{

    margin-right: 0;
    margin-left: 0;
}

.land{
    border-style: none;
}

/* End modifications */
.lat {
  opacity: 0;
}
.img-detail{
    border-radius: 20%;
}

.card-body{
    border-style: none;
}

.exrate{
      float: left;
}

.logo{
    display: inline;
    height: 100%;

}

.skysize{
    height: 80px;
}

a{
    font-size: 20px;
}

.navcolor{
    background: #CBD7D7;
}

.sticky-top{
    background: white;
}

.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
	}
/* .ui-autocomplete-loading { background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat; } */

.size{
    width: 40%;
}

#pic{
    background-image: url(../img/plane-841441_1920.jpg);
    height: 700px;
    background-position: center;
   }

   /* Safety CSS design start  */
.stars-outer {
    position: relative; 
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0; 
    left: 0; 
    white-space: nowrap; 
    overflow: hidden; 
    width: 0; 
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005"; 
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900;
    color: #ccc;  
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005"; 
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900;
    color: #f8ce0b;  
}

/* Safety CSS design end */
#toDo {
  padding-top: 20px;
  padding-left: 20px;
}
